<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.example.lucasratinho.rescuedroid.cadastro_Equipe"
            android:label="@string/title_activity_cadastro__equipe"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>
